body {
    background-color: black;
    text-align: center;
}

#container {
    display: inline-block;
    width: 600px;
    height: 600px;
    background-color: white;
}

#inside {
    position: relative;
    width: 190px;
    height: 190px;
    float: left;
    margin: 5px;
    
}

.czerwony {
    background-color: red;
}

.niebieski {
    background-color: blue;
}

.zielony {
    background-color: green;
}

.zolty {
    background-color: yellow;
}

.czarny {
    background-color: black;
}

.pomaranczowy {
    background-color: orange;
}

.fioletowy {
    background-color: purple;
}

.szary {
    background-color: gray;
}

.rozowy {
    background-color: pink;
}

#kolo {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
}

.pink {
    background-color: pink;
}

.gray {
    background-color: gray;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}
